# 01. Importing Libraries

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Dataframes

In [5]:
# Set Folder Path
path = r'C:\Users\Campa\Data Projects\Instacart Basket Project'

In [6]:
# import orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data','orders_wrangled.csv'), index_col = False)

In [13]:
# import order_products_prior as df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data','order_products__prior.csv'), index_col = False)

In [14]:
# check dimensions on original dataframes
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [23]:
df_ords.shape

(3421083, 7)

In [18]:
# merge dataframes
df_ords_merged = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = True)

In [19]:
# check the output
df_ords_merged.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [21]:
# check for full match
df_ords_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [24]:
# export data to pkl
df_ords_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl))'))