# Contents

01. Importing Libraries
02. Importing Datarames
03. Merge Dataframes
04. Exporting PKL

# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing Dataframe

In [2]:
#set file path
path = r'C:\Users\Campa\Data Projects\Instacart Basket Project'

In [3]:
# import orders_products_combine.pkl
df_orders_products = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [6]:
#check shape of dataframe
df_orders_products.shape

(32434489, 11)

In [8]:
#import products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
df_prods.shape

(49672, 6)

# 03. Merge Dataframes

In [9]:
#checking for common columns
df_orders_products.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
# drop_merge column from previous merge
df_orders_products = df_orders_products.drop(columns = ('_merge'))

In [10]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
df_prods_merged = df_orders_products.merge(df_prods, on = ['product_id'], indicator = True)

In [17]:
# check shape of merged data frame
df_prods_merged.shape

(32404859, 16)

In [18]:
df_prods_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [19]:
# check for full match
df_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
#drop _merge column
df_prods_merged = df_prods_merged.drop(columns = '_merge')

In [21]:
df_prods_merged.shape

(32404859, 15)

# 04. Exporting PKL

In [22]:
df_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged.pkl'))